{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>82Tube<div><small>Free Porn Video & Live Sex Cams</small></div></h1>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="col-sm-12">
                ## HOMEPAGE ##
            </div>
        </div>
    </div>
{% endblock %}